<div>
    <section id="hero" class="hero section dark-background">
      <div
        id="hero-carousel"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
        data-bs-interval="5000"
      >
        
          <img src="assets/img/about.jpg" alt="" />
          <div class="container">
            <h1>MISIÓN</h1>
            <h3 class="text-justify">Somos una institución de Educación Superior de nivel técnico y tecnológico, acreditada, que aporta con carreras de tercer nivel en modalidad presencial y online; para contribuir de manera trascendental, a una gran experiencia de formación profesional en los jóvenes ecuatorianos, apalancada por altos estándares académicos y humanísticos, que les permite sobresalir técnicamente en el ámbito laboral y del emprendimiento.</h3>
            <br>
            <h1>VISIÓN</h1>
            <h3 class="text-justify">Para el año 2027 somos una institución con carácter universitario, acreditada tanto a nivel nacional como internacional, que cuenta con una potente oferta académica en modalidad presencial y online a nivel del Ecuador y Latinoamérica, que asegura una gran experiencia de aprendizaje omnicanal para todos nuestros estudiantes mediante la democratización del acceso y la transversalización de las funciones sustantivas de la educación superior.</h3>
            
             
              <i class="bi bi-play-circle"></i>
                <a href="https://www.youtube.com/watch?v=GdRY1w8fBB0" class="glightbox stretched-link">Watch Video</a>
          </div>
        
      </div>
    </section>
  </div>

<footer id="footer" class="footer dark-background">
    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">ITSQMET</span>
          </a>
          <div class="footer-contact pt-3">
            <p>Matriz: Carán N3-195 y Calle B</p>
            <p>Campus Sur: Av Mariscal Sucre y Chumunde</p>
            <p>Campus Manta:Ruta del Spondylus E15 3819</p>
            <p class="mt-3">
              <strong>Phone:</strong> <span>+593 99 988 5332</span>
            </p>
            <p><strong>Email:</strong> <span>info@itsqmet.edu.ec</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
  
        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/acerca">Acerca de</a></li>
            <li><a href="/report">Docentes</a></li>
  
          </ul>
        </div>
  
        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
          </ul>
        </div>
  
        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>
            Subscribe to our newsletter and receive the latest news about our
            products and services!
          </p>
          <form
            action="forms/newsletter.php"
            method="post"
            class="php-email-form"
          >
            <div class="newsletter-form">
              <input type="email" name="email" /><input
                type="submit"
                value="Subscribe"
              />
            </div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your subscription request has been sent. Thank you!
            </div>
          </form>
        </div>
      </div>
    </div>
  
    <div class="container copyright text-center mt-4">
      <p>
        © <span>Copyright</span> <strong class="px-1 sitename">Company</strong>
        <span>All Rights Reserved</span>
      </p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>