<div class="container mt-5">
    <h1 class="mb-4">Envio de Tareas</h1>
    <form (ngSubmit)="enviarTarea()" #form="ngForm">
        <div class="form-group">
            <label for="studentName">ID Estudiante</label>
            <input type="text" class="form-control" name="id" [(ngModel)]="id">
        </div>
        <div class="form-group">
            <label for="studentName">Nombre</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre">
        </div>
        <div class="form-group">
            <label for="assignmentTitle">Titulo de la Tarea</label>
            <input type="text" class="form-control" name="titulo" [(ngModel)]="titulo">
        </div>
        <div class="form-group">
            <label for="assignmentFile">Archivo de la Tarea</label>
            <input type="file" class="form-control-file" >
        </div>
        <button type="submit" class="btn btn-primary">Enviar Tarea</button>
    </form>
</div>





